@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


$fontFamily: 'Poppins';
$apricotColor: #FBCEB1;

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
